@import "tailwindcss";

@theme {
  --color-notion-gray-1: #2F3438; 
  --color-notion-gray-2: #373C3F; 
  --color-notion-gray-3: #3F4448; 
  --color-main-gray: #37352f;
  --font-dm-serif:"DM Serif Display";
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f7f6f3;
}