@import "tailwindcss";

@theme {
  --color-notion-gray-1: #2F3438; 
  --color-notion-gray-2: #373C3F; 
  --color-notion-gray-3: #3F4448; 
  --color-main-gray: #37352f;
  --color-main-maroon: #7E4646;
  --font-dm-serif:"DM Serif Display";
  --font-instrument-serif:"Instrument Serif";
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

html,body{
  height: 100%;
  margin:0;
  padding:0;
}



body {
  background-color: #f7f6f3;
}